<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Order</title>
    <style>
        body {
        background: url("/images/jalan03.jpg");
        height: 100%; 
        background-repeat: no-repeat;
        background-size: cover;
        font-family: sans-serif;
        text-align: center;
        color: wheat;
        }
    </style>
</head>
<body>
    <img src="/images/CTB_logo3.png" width="400" height="250"><br><br>
    <h2>Your Order History</h2>

    <table border="1" align="center">
        <thead>
            <tr>
                <td>Driver Name</td>
                <td>Driver Email</td>
                <td>Transactions Date</td>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0 ; i < orders.length ; i++){ %>
            <tr>
                <td><%= orders[i].Driver.firstName %></td>
                <td><%= orders[i].Driver.email %></td>
                <% let convertDate = dateFormat(orders[i].transactionDate) %>
                <td><%= convertDate %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br>
    <button type="button" onclick="window.history.go(-1)">BACK</button>
</body>
</html>