<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sequelize Many-to-Many</title>
    <h1 align="center">Sequelize Many-to-Many</h1>
</head>
<body align="center"> 
    <a href="/student"> Student </a>
    <br>
    <a href="/teacher"> Teachers </a>
    <br>
    <a href="/subject"> Subjects </a>
</body>
</html>