<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>
</head>
<body >
    <form action ="/customer/register" id="register-customer" method="POST">
        <table align="center">
            <tr>
                <td>First Name</td>
                <td><input type="text" name="firstName" required></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastName" required></td>
                </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="password" required></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="phone" required></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" required></td>
            </tr>
            <tr>
                <td></td>
                <td align="right">
                    <button type="submit" form="register-customer" value="Register">Register</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>