<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDIT STUDENT</title>
    <h1 align="center">Edit Student Data</h1>
</head>
<body>
    <form align="center" action="/student/edit/<%=student.id%>" method="POST">
        First name:<br>
        <input type="text" name="firstname" value="<%=student.firstName%>">
        <br>
        Last name:<br>
        <input type="text" name="lastname" value="<%=student.lastName%>">
        <br>
        Email:<br>
        <input type="text" name="email" value="<%=student.email%>">
        <br><br>
        <input type="submit" value="save">
    </form> 
</body>
</html>