<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <h1 align="center"> <%= data.subjectName %></h1>
</head>
<body>
    <table border="1px" align="center">
        <thead>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
        </thead>
        <% for(let i = 0 ; i < data.Students.length ; i++){ %>
            <tr>
                <td>
                    <%= data.Students[i].firstName  %>
                </td>
                <td>
                    <% if(data.Students[i].score == null) { %>
                        <a href="/subject/<%=data.Students[i].id%>/add-score">Give a Score</a>
                    <% } else {%>
                        <%=data.Students[i].score %>
                    <% } %>
                </td>
            </tr>
            <% } %>
        <tbody>

        </tbody>
    </table>
    
</body>
</html>